#profile-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  margin: 50px;
}

#profile-pic {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 40px;
}

#bio {
  width: 60%;
  margin: 20px;
  text-align: center;
}

#profile-galleries-header {
  margin: 20px;
  font-weight: 400;
}

#profile-galleries-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#profile-galleries-list > li {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 10px;
}

#profile-galleries-list p,
#profile-galleries-list a {
  text-align: center;
}
